<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafka Blog</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<h1>Welcome to Kafka Blog</h1>
<form method="POST" th:action="@{/posts/save}" th:object="${post}">
    Title: <input type="text" th:field="*{title}" />
    <input type="submit" value="Submit" />
</form>
<hr />
<div th:each="p : ${posts}">
    <li>
        <p><span th:text="${p.getTitle()}"></span></p>
    </li>
</div>
<script src="/js/main.js"></script>
</body>
</html>